body {
  font-family: sans-serif;
}

/* ダークモード対応 */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #000;
    color: #fff;
  }
}

.resizeimage img {
  width: 100%;
}

table.chart_table {
	display: block;
	overflow-x: scroll;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
  }
table th {
  white-space: nowrap;
}
th:first-child{
	width: 5em;
}
table, td, th {
  border: 1px solid #595959;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  word-break: break-word;
  text-align:center;
}

td, th {
  padding: 3px;
  height: 25px;
}

th {
  background: #C0C0C0;
}

.even {
  background: #fbf8f0;
}

.odd {
  background: #fefcf9;
}

/* 分数表示 */
.fraction {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.fraction_n, .fraction_d {
  display: block;
}

.fraction_n {
  border-bottom: 1px solid #333;
}


/*タブ切り替え全体のスタイル*/
/* .tabs {
  margin-top: 20px;
  padding-bottom: 30px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 0 auto;} */

/*タブのスタイル*/
.tab_item {
  width: calc(100%/3);
  height: 50px;
  border-bottom: 3px solid #5ab4bd;
  background-color: #d9d9d9;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.tab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  padding: 5px 5px 0;
  clear: both;
  overflow: hidden;
}


/*選択されているタブのコンテンツのみを表示*/
#all:checked ~ #all_content,
#programming:checked ~ #programming_content,
#design:checked ~ #design_content {
  display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
  background-color: #5ab4bd;
  color: #fff;
}



/*===========
.scroll-box
===========*/

.scroll-box {
	overflow-x: auto;
	padding-bottom: 10px;
	-webkit-overflow-scrolling: touch;
  }

  /*===========
  scrollbar
  ===========*/


  /*スクロールバー全体の高さ*/

  .scroll-box::-webkit-scrollbar {
	height: 4px;
  }

  /*スクロールバー全体の背景*/

  .scroll-box::-webkit-scrollbar-track {
	background: #eee;
  }

  /*スクロールバーの動く部分*/

  .scroll-box::-webkit-scrollbar-thumb {
	background: #aaa;
	border: none;
  }

  /*スクロールバーの動く部分のホバー（マウスオーバー）*/

  .scroll-box::-webkit-scrollbar-thumb:hover {
	background: #999;
  }

  /*===========
  table
  ===========*/

  .scroll-box table {
	min-width: 700px;
  }

  ._sticky {
	position: sticky;
	left: 0;
  }
  ._sticky:before {
	content: "";
	position: absolute;
	top: -1px;
	left: -1px;
	width: 100%;
	height: 100%;
	/* border: 1px solid #ccc; */
  }

  /*===========
  common
  ===========*/

  section {
	max-width: 420px;
	margin: 0 auto;
	padding: 50px 10px;
	background: #fff;
  }
